@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

body {
  font-family: 'Libre Caslon Text', serif;
  margin: 0;
  font-size: 20;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

a {
  color: #000;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  font-weight: 900;
}

.LandingView {
  background-color: #ffffff;
  background-size: cover;
}

.LandingContent {
  margin: 0 auto 0 auto;
  max-width: 700px;
  text-align: center;
  padding: 150px 50px 30px 50px;
}

.LandingContent h1 {
  margin: 0;
  color: #000000;
  font-size: 32px;
  line-height: 1.2;
}

.LandingContent button{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  padding: 12px 20px;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
}

.HeroImage img{
  padding: 50px 50px;
}

@media (max-width:720px) {
  .LandingContent {
    padding: 130px 50px;
  }
  
}

